/* set body margin and padding to fit 100% of the page preventing overflow of contents*/
body {
    padding: 0;
    margin: 0;
}

/* styles navbar to display as drid with 4 columns, text aligned to center, position absolute removes margin */
nav{
    padding: 3% 0 2% 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    text-align: center;
    position: absolute;
}

/* removes the undeline from the anchor tags in the nav bar, sets color to dark grey */
a{
    text-decoration: none;
    color: darkgray;
}

 /* display the contents of home page in a grid,sets for two columns */
.container {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
}

/* set padding from top, and bottom, aligns the content of the class to the right of the column */
.img_holder{
    padding: 15% 0 0 10%;
    text-align: right;
}

/* sets the width of the profile photo */
#prof{
    width: 80%;
}

/* establish grey gradient on the right column next to the column with profile photo and sets its width to match profile photo, set top margin */
#grad1 {
    width: 80%;
    background-image: linear-gradient(to right, rgba(169,169,169,1), rgba(255,0,0,0)); /* Standard syntax (must be last) */
    margin: 15% 0 0 0;
}

/* aligns paragraph text */
p{
    text-align: center;
}

/* aligns the heading of the contact page */
.contactsheading {

    padding: 200px 0 50 0;
    margin: 100px 0 50 0;
    text-align: center;
    font-style: oblique;  
}

/* displays the contacts sections as a grid with 2 columns */
.contacts{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* gives icon background gray gradent  */
#icons{
    padding: 9% 0;
    margin: 0% 0 0 10%;
    background-image: linear-gradient(to left, rgba(169,169,169,1), rgba(255,0,0,0));
}

/* sets margin for icon classes */
.fab, .fas{
    margin: 10px;
}

/* set padding for location image */
.img_holder_1 {
    padding: 15px 0;
}

/* set width for location image */
#loc {
    width: 78%;
}

/* align location photo to the right */
.loc {
    align-content: right;
    padding: 10% 0;
}

/* removes bullets from icon list */
ul{
    list-style-type: none;
}
